<select>
    <% @customers.each do |cust| %>
        <option><%= cust.name  %></option>
    <% end %>
</select>
<div class="cards"> 
    <% @products.each do |product| %>
        <div class="card-product">
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
            <div class="card-product-infos">
                <h2><%= product.long_name ||= product.short_name %></h2>
                <p><%= product.brand ||= product.company %></p>
                <p><%= product.ean %></p>
                <p class="price"><%= number_to_currency(product.product_customer_prices.first.price, locale: :fr) %></p>
            </div>
        </div>
    <% end %>  
</div>

<nav>
  <ul class="nav">
    <li><a href="#" id="barcode_button" data-toggle="modal" data-target="#ModalCamera" class="fa-solid fa-barcode fa-xl"><i class="fa-solid fa-barcode fa-xl"></i></a></li> 
  </ul>
</nav>
<%= render "camera" %>

